<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
   <title>CORE</title>
</head>

<body>
   <header>
     <h1> Computación en Red - CORE</h1>
     <nav> 
         <a href="/">Home</a>    
         <a href="/creditos">Créditos</a>
     </nav>
   </header>
  
   <section>
     <%- body %>
   </section>

   <footer>
      CORE 2013-2014 - UPM
   </footer>
</body>
</html>